# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: gmailread

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: python2.7
  stage: default
  region: us-east-1
  timeout: 180
  environment:
    KMS_KEY: "${self:custom.secret.KMS_KEY}"

package:
  exclude:
    - secret.yml
    - node_modules/
    - event.json
    - requirements.txt
    - README.md

functions:
  starter:
    handler: handler.lambda_handler
    events:
      - schedule:
          name: 'GMAI-READ-SCHEDULE'
          rate: cron(0 21 * * ? *)
          enabled: true
    iamRoleStatementsName: gmailread-role
    iamRoleStatements:
      - Effect: "Allow"  
        Action:
          - kms:Decrypt
        Resource: "${self:custom.secret.KMS_ARN}"
      
custom:
    stage: ${opt:stage, self:provider.stage}
    secret: ${file(secret.yml):${self:custom.stage}}
    
    pythonRequirements:
      dockerizePip: non-linux
    
plugins:
    - serverless-python-requirements
    - serverless-iam-roles-per-function


  
    
  
